{%extends "registration/base.html"%}
{% load bootstrap5 %}
{% block content %}
<div class="box" style="color: rgb(226, 137, 21);">
<div class="wrapper" id="content" style="margin-top: 2%;">
<div class="container" style="background-image: linear-gradient(90deg, #070353 0%, #090979 35%, #00d4ff 100%); width: 40rem;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">
        <div class="logo">
          <img src="" alt="" width="103">
      </div>
        
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
           
            <div class="form-group">
              <input type="submit" class="btn btn-secondary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">
              <p>Don't have an account? <a href="/accounts/register"><span style="color: rgb(41, 98, 223);">Sign up</span></a></p>
          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
</div>
</div>
{% endblock %}