{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
{{block.super}}
{{ form.media }}

<div class="container">
    <h1>Create Neighbourhood</h1>
    <form action="{%url 'create-hood'%}" method="post">
        {%csrf_token%}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>

{% endblock %}