{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neighborhood</title>
</head>
<body>
  
    <div class="container-fluid"  style="background-image: url(static/images/george-pagan-iii-dlM92cbSh_4-unsplash.jpg); height: 100vh; background-size: cover; background-position: center;">
    <h3> <em>Thee_Hood</em> </h3>
    <a href="/all-residents/" style="color: chocolate;">View the residents list</a>
    <a href="/create-admin" style="color: chocolate;">create an admin profile</a>
    <a href="/add-resident/" style="color: chocolate;">add-resident</a>
    <h2>something else here </h2>
    </div>
    <hr>
    <div class="footer" style="margin-bottom: 2%;">
    <footer>   
     <div class="container">
       <nav class="footer-nav">
         <form  action="{% url 'home'%}" method="post">
          {%csrf_token%}
          {% bootstrap_form letterForm layout='inline' %}
          <input type="submit" value="Subscribe" style="color: coral; margin-top: 1%;">
         </form>
       </nav>
     </div>
   </footer>
  </div>
  </body>
</html>
{%endblock%}