{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static%}
{% block content %}
{{block.super}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neighborhood</title>
</head>
<body>
  
    <section>
      <div class="container-fluid"  style="background-image: url(static/images/george-pagan-iii-dlM92cbSh_4-unsplash.jpg); height: 50vh; background-size: cover; background-position: center; background-attachment: fixed;">
    
      </div>
    </section>
    
    <section class="posts">
      <div class="row">
        <div class="col md-12">
          <div class="navigation">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="links">Home</a></li>
                <li class="breadcrumb-item"><a href="/all-residents/" class="links">View Residents list</a></li>
                <li class="breadcrumb-item"><a href="#" class="links">Admin login</a></li>
                <li class="breadcrumb-item active" aria-current="page">Resident's posts</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="container">
        
        <div class="row">
          {% for posts in post %}
          <div class="col-md-6">
           <div class="card">
             <div class="card-header d-flex"></div>
             <img src="{{ posts.photo.url}}" class="img-responsive" alt=""> 
             <div class="card-body">
               <div class="text-muted">{{posts.post_date | timesince }} ago</div>
                 <div class="card_article">
                   <article class="card_article">
                     <h3>{{posts.title}}</h3>
                     <p>{{posts.post}}</p>
                   </article>
                   </div>
             </div>
         </div>
        </div>
       {% endfor %}
      </div>
      </div>
    </section>

    <div class="footer" style="margin-bottom: 2%;">
    <footer>   
     <div class="container">
       <nav class="footer-nav">
         <form  action="{% url 'home'%}" method="post">
          {%csrf_token%}
          {% bootstrap_form letterForm layout='inline' %}
          <input type="submit" value="Subscribe" style="color: coral; margin-top: 1%;">
         </form>
       </nav>
     </div>
   </footer>
  </div>

  </body>
</html>
{%endblock%}