
{%extends 'base.html'%}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% load bootstrap5 %}
{% block content %}
{{block.super}}

<div class="container-fluid">
    <div class="top">
        {% if profile.photo %}
        <div><img class="rounded-circle" src="{{profile.photo.url}}"></div>
        {% else %}
        <div><object data="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                type="image/png">
                <img class="img-thumbnail" src="..." alt="...">
            </object> </div>
        {%endif%} 
        <div class="card">
            <div class="name">
                <span>Name :</span>{{profile.user.username | title}}<br><br><span>Role :</span>Administrator<br><br><span>Neighborhood :</span>{{hood.name}}<br><br><span>Residents
                     :</span>{{hood.occupants}}</div>
        </div>
        <div class="card">
            <span>ACCOUNT ACTIONS</span>
            <ul>
                <li><a href="{%url 'post'%}" class="link">Add Post</a></li>
                <li><a href="{%url 'add-resident'%}" class="link">Add resident</a></li>
                <li><a href="{%url 'all-residents'%}" class="link">View Residents</a></li>
                
                <li><a href="{%url 'update-hood'%}" class="link">Update hood</a></li>
                <li><a href="#" data-toggle="modal" data-target="#deleteHood" class="link">Delete hood</a></li>
                <li><a href="/logout" class="link">Log out</a></li>
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="deleteHood" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="bolden">{{hood.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete your neighbourhood?<br>Please note this deletes your account too.</p>
                        </div>
                        <div class="modal-footer">
                            <a href=""><button type="button" class="btn btn-danger">I'm
                                    sure</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
