{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <br>
    <div class="row">
        <div class="flex justify-center">
            <h1><a class="text-2xl font-bold">Search results :</a> <em class="text-xl text-rose-500">Business not found!</em> </h1>    
            <hr>        
        </div>
        
    
        {% if blank_message %}    
        <h5 class="bolden">{{blank_message}}</h5> 
        {% else %}    
            {% if business %}

            {% for biz in business %}
            <div class="col-12">
                <div class="card list-card">
                    <div class="card-body">
                        <div class="row">                            
                            <div class="col-12">
                                <h5>{{biz.business_name | title}}</h5>
                                <p><span class="bolden text-muted"><span class="fa fa-envelope"></span></span> {{biz.business_email}}</p>   
                                <h6 class="bolden">Description</h6> 
                                <p>{{biz.short_description}}</p>                              
                                <p class="text-secondary">Added on {{biz.created}} by {{biz.owner.username}}.</p>                                
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>        
            {% endfor %}
                                    
            {% else %}
            <div class="mt-4 flex justify-center">
                <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                
                    <h2 class="mt-2 text-gray-600 font-semibold">{{message}}</h2>
                
                </div>
            </div>
   
            {% endif %} 
        {% endif %}         
    </div>
</div>

{% endblock %}
